/* ///////////////////// */
/*        Данные         */
/* ///////////////////// */
:root {
    /* Максимальная ширина экрана */
    --max-screen: 1920px;
    /* Минимальная ширина экрана */
    --min-screen: 360px;
    /* Максимальный размер контейнера */
    --width-wrap-max: 1200px;
    /* Минимальный размер контейнера */
    --width-wrap-min: 302px;
    /* Промежуточные коэфы */
    --k1: calc(var(--max-screen) - var(--min-screen));
    --k2: calc(var(--width-wrap-max) - var(--width-wrap-min));
    /* Поправочный коэф */


    /* ВНИМАНИЕ ошибка в строчке ниже. + и - работают, * и / вызывают cacheoverride */
    --k3: calc(var(--k1) / var(--k2));
    /* --k3: calc((var(--max-screen) - var(--min-screen)) / (var(--width-wrap-max) - var(--width-wrap-min))); */
    /* Актуальная ширина контейнера на промежуточных размерах */
    --width-actual: calc(100vw * var(--k3) + (var(--min-screen) - var(--min-screen) * var(--k3)));



    /* ////////////////////////////////////////////////////////// */
    /* Высыота шрифта H1 */
    /* ////////////////////////////////////////////////////////// */

    /* Максимальный размер шрифта */
    --max-fszH1: 108px;
    /* Минимальный размер шрифта */
    --min-fszH1: 51px;
    /* Промежуточные коэфы */
    --k5: calc(var(--max-fszH1) - var(--min-fszH1));
    --k6: calc(var(--k5) / (var(--max-screen) - var(--min-screen)));
    --k6: calc(var(--k5) / var(--k1));
    --k7: calc(var(--k6) * var(--min-screen));
    /* Поправочный коэф */
    --k8: calc(var(--min-fszH1) * var(--k7));

    /* Актуальный рзмер шрифта в зависимости от ширины экрана */
    --fszH1-actual: calc(100vw * var(--k8));


    /* ////////////////////////////////////////////////////////// */
    /* Высыота шрифта H2 */
    /* ////////////////////////////////////////////////////////// */

    /* Максимальный размер шрифта */
    --max-fszH2: 108px;
    /* Минимальный размер шрифта */
    --min-fszH2: 51px;
    /* Промежуточные коэфы */
    --k9: calc(var(--max-fszH2) - var(--min-fszH2));
    --k10: calc(var(--k9) / var(--k1));
    --k11: calc(var(--k10) * var(--min-screen));
    /* Поправочный коэф */
    --k12: calc(var(--min-fszH2) * var(--k11));

    /* Актуальный рзмер шрифта в зависимости от ширины экрана */
    --fszH2-actual: calc(100vw * var(--k12));


    /* ////////////////////////////////////////////////////////// */
    /* Высота шрифта H3 */
    /* ////////////////////////////////////////////////////////// */

    /* Максимальный размер шрифта */
    --max-fszH3: 108px;
    /* Минимальный размер шрифта */
    --min-fszH3: 51px;
    /* Промежуточные коэфы */
    --k13: calc(var(--max-fszH3) - var(--min-fszH3));
    --k14: calc(var(--k13) / var(--k1));
    --k15: calc(var(--k14) * var(--min-screen));
    /* Поправочный коэф */
    --k16: calc(var(--min-fszH3) * var(--k15));

    /* Актуальный рзмер шрифта в зависимости от ширины экрана */
    --fszH3-actual: calc(100vw * var(--k16));


    /* ////////////////////////////////////////////////////////// */
    /* Высота шрифта H4 */
    /* ////////////////////////////////////////////////////////// */

    /* Максимальный размер шрифта */
    --max-fszH4: 108px;
    /* Минимальный размер шрифта */
    --min-fszH4: 51px;
    /* Промежуточные коэфы */
    --k17: calc(var(--max-fszH4) - var(--min-fszH4));
    --k18: calc(var(--k17) / var(--k1));
    --k19: calc(var(--k18) * var(--min-screen));
    /* Поправочный коэф */
    --k20: calc(var(--min-fszH4) * var(--k19));

    /* Актуальный рзмер шрифта в зависимости от ширины экрана */
    --fszH3-actual: calc(100vw * var(--k20));


    /* ////////////////////////////////////////////////////////// */
    /* Высота шрифта p */
    /* ////////////////////////////////////////////////////////// */

    /* Максимальный размер шрифта */
    --max-fszP: 108px;
    /* Минимальный размер шрифта */
    --min-fszP: 51px;
    /* Промежуточные коэфы */
    --k21: calc(var(--max-fszP) - var(--min-fszP));
    --k22: calc(var(--k21) / var(--k1));
    --k23: calc(var(--k22) * var(--min-screen));
    /* Поправочный коэф */
    --k24: calc(var(--min-fszP) * var(--k23));

    /* Актуальный рзмер шрифта в зависимости от ширины экрана */
    --fszH3-actual: calc(100vw * var(--k24));
}